# GUI
PySide6
SentencePiece
ffmpeg-python
paramiko
imageio==2.37.0

# STT
transformers
noisereduce
silero-vad
pyaudio
SpeechRecognition
SentencePiece
soundfile
sounddevice
librosa
phonemizer
einops
Unidecode
conformer==0.3.2
diffusers
gdown
wget
lightning
hydra-core==1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# Aladin TTS
scipy==1.13.1
PyYAML==6.0.1
num2words==0.5.13
pandas==2.2.2
hanja==0.15.1
beautifulsoup4==4.12.3
openpyxl==3.1.5
datetime==5.5
asyncio==3.4.3
openai==1.51.2
julius==0.2.7
g2pk==0.9.4
g2p-en==2.1.0
espnet-tts-frontend==0.0.03
typeguard==2.13.3
onnx==1.17.0
onnxruntime==1.19.2
onnxruntime-gpu==1.20.1

# LLM
scikit-learn

# mosquitto
paho-mqtt==1.6.1
